---
http_interactions:
- request:
    method: post
    uri: https://api.mapbox.com/styles/v1/<MAPBOX_USERNAME>/clb1jxblw000014tbwhfjxy31/sprite?access_token=<MAPBOX_ACCESS_TOKEN>
    body:
      encoding: UTF-8
      string: "-------------RubyMultipartPost-109d29f9b7cbfceaed404ddcc97a912e\r\nContent-Disposition:
        form-data; name=\"images\"; filename=\"square\"\r\nContent-Length: 182\r\nContent-Type:
        image/svg+xml\r\nContent-Transfer-Encoding: binary\r\n\r\n<svg class=\"square\"
        width=\"200\" height=\"200\" viewBox=\"0 0 100 100\" xmlns=\"http://www.w3.org/2000/svg\"
        version=\"1.1\">\n  <circle x=\"0\" y=\"0\" width=\"200\" height=\"100\" r=\"200\"
        />\n</svg>\n\r\n-------------RubyMultipartPost-109d29f9b7cbfceaed404ddcc97a912e--\r\n"
    headers:
      Content-Type:
      - multipart/form-data; boundary=-----------RubyMultipartPost-109d29f9b7cbfceaed404ddcc97a912e
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Origin:
      - mbx-styles
      Etag:
      - W/"9f-Aa4b10RtSU6UA7cjtBHmHj0nNno"
    body:
      encoding: ASCII-8BIT
      string: '{"circle":{"width":200,"height":200,"x":0,"y":0,"pixelRatio":1,"visible":true},"square":{"width":200,"height":200,"x":200,"y":0,"pixelRatio":1,"visible":true}}'
  recorded_at: Tue, 29 Nov 2022 08:26:41 GMT
recorded_with: VCR 6.1.0
