---
http_interactions:
- request:
    method: get
    uri: https://api.mapbox.com/styles/v1/<MAPBOX_USERNAME>/clb1jxblw000014tbwhfjxy31/wmts?access_token=<MAPBOX_ACCESS_TOKEN>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/xml; charset=utf-8
      Etag:
      - W/"284d-56xCJTlBg9VRP80cp6EvoLKNiPg"
    body:
      encoding: UTF-8
      string: |-
        <Capabilities xmlns="http://www.opengis.net/wmts/1.0" xmlns:ows="http://www.opengis.net/ows/1.1" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:gml="http://www.opengis.net/gml" xsi:schemaLocation="http://www.opengis.net/wmts/1.0 http://schemas.opengis.net/wmts/1.0/wmtsGetCapabilities_response.xsd" version="1.0.0">
          <ows:ServiceIdentification>
          <ows:Title>Mapbox</ows:Title>
          <ows:ServiceType>OGC WMTS</ows:ServiceType>
          <ows:ServiceTypeVersion>1.0.0</ows:ServiceTypeVersion>
        </ows:ServiceIdentification>
          <ows:OperationsMetadata>
          <ows:Operation name="GetCapabilities"><ows:DCP><ows:HTTP><ows:Get xlink:href="https://api.mapbox.com/styles/v1/<MAPBOX_USERNAME>/clb1jxblw000014tbwhfjxy31/wmts?access_token=<MAPBOX_ACCESS_TOKEN>"><ows:Constraint name="GetEncoding"><ows:AllowedValues><ows:Value>RESTful</ows:Value></ows:AllowedValues></ows:Constraint></ows:Get></ows:HTTP></ows:DCP></ows:Operation>
          <ows:Operation name="GetTile"><ows:DCP><ows:HTTP><ows:Get xlink:href="https://api.mapbox.com/styles/v1/<MAPBOX_USERNAME>/clb1jxblw000014tbwhfjxy31/wmts?access_token=<MAPBOX_ACCESS_TOKEN>"><ows:Constraint name="GetEncoding"><ows:AllowedValues><ows:Value>RESTful</ows:Value></ows:AllowedValues></ows:Constraint></ows:Get></ows:HTTP></ows:DCP></ows:Operation>
        </ows:OperationsMetadata>
          <Contents>
          <Layer>
          <ows:Title>Blank style 1</ows:Title>
          <ows:Abstract></ows:Abstract>
          <ows:WGS84BoundingBox crs="urn:ogc:def:crs:OGC:2:84">
          <ows:LowerCorner>-180 -85.051129</ows:LowerCorner>
          <ows:UpperCorner>179.976804 85.051129</ows:UpperCorner>
        </ows:WGS84BoundingBox>
          <ows:Identifier>clb1jxblw000014tbwhfjxy31</ows:Identifier>
          <Style isDefault="true"><ows:Identifier>default</ows:Identifier></Style>
          <Format>image/png</Format>
          <TileMatrixSetLink><TileMatrixSet>GoogleMapsCompatible</TileMatrixSet></TileMatrixSetLink>
          <ResourceURL format="image/png" resourceType="tile" template="https://api.mapbox.com/styles/v1/<MAPBOX_USERNAME>/clb1jxblw000014tbwhfjxy31/tiles/{TileMatrix}/{TileCol}/{TileRow}?access_token=<MAPBOX_ACCESS_TOKEN>"/>
        </Layer>
          <TileMatrixSet>
          <ows:Title>GoogleMapsCompatible</ows:Title>
          <ows:Abstract>GoogleMapsCompatible EPSG:3857</ows:Abstract>
          <ows:Identifier>GoogleMapsCompatible</ows:Identifier>
          <ows:SupportedCRS>urn:ogc:def:crs:EPSG::3857</ows:SupportedCRS>
          <TileMatrix>
          <ows:Identifier>0</ows:Identifier>
          <ScaleDenominator>279541132.0143589</ScaleDenominator>
          <TopLeftCorner>-20037508.34278925 20037508.34278925</TopLeftCorner>
          <TileWidth>512</TileWidth>
          <TileHeight>512</TileHeight>
          <MatrixWidth>1</MatrixWidth>
          <MatrixHeight>1</MatrixHeight>
        </TileMatrix>
          <TileMatrix>
          <ows:Identifier>1</ows:Identifier>
          <ScaleDenominator>139770566.00717944</ScaleDenominator>
          <TopLeftCorner>-20037508.34278925 20037508.34278925</TopLeftCorner>
          <TileWidth>512</TileWidth>
          <TileHeight>512</TileHeight>
          <MatrixWidth>2</MatrixWidth>
          <MatrixHeight>2</MatrixHeight>
        </TileMatrix>
          <TileMatrix>
          <ows:Identifier>2</ows:Identifier>
   [...]
