---
http_interactions:
- request:
    method: get
    uri: https://api.mapbox.com/styles/v1/<MAPBOX_USERNAME>?access_token=<MAPBOX_ACCESS_TOKEN>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Origin:
      - mbx-styles
      Etag:
      - W/"211-O0jMBdSQcIKuemtAjWeQmYJuRFM"
    body:
      encoding: ASCII-8BIT
      string: '[{"version":8,"bearing":0,"created":"2022-11-29T01:41:57.484Z","visibility":"public","sources":{},"name":"Streets","protected":false,"center":[0,0],"pitch":0,"zoom":0,"owner":"<MAPBOX_USERNAME>","id":"clb1k05lh004115lcuz19u71t","modified":"2022-11-29T05:36:18.838Z"},{"version":8,"bearing":0,"created":"2022-11-29T01:39:45.308Z","visibility":"public","sources":{},"name":"Basic","protected":false,"center":[0,0],"pitch":0,"zoom":0,"owner":"<MAPBOX_USERNAME>","id":"clb1jxblw000014tbwhfjxy31","modified":"2022-11-29T05:36:08.129Z"}]'
  recorded_at: Tue, 29 Nov 2022 08:26:16 GMT
recorded_with: VCR 6.1.0
