---
http_interactions:
- request:
    method: get
    uri: https://api.mapbox.com/styles/v1/<MAPBOX_USERNAME>/clb1jxblw000014tbwhfjxy31/sprite@2x?access_token=<MAPBOX_ACCESS_TOKEN>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Origin:
      - mbx-styles
      Etag:
      - '"sprite-4.5.8-v1/88r9j5lgskm70ay3mkqbuzktx"'
    body:
      encoding: ASCII-8BIT
      string: '{"square":{"width":400,"height":400,"x":0,"y":0,"pixelRatio":2,"visible":true}}'
  recorded_at: Tue, 29 Nov 2022 08:26:40 GMT
recorded_with: VCR 6.1.0
