---
http_interactions:
- request:
    method: get
    uri: https://api.mapbox.com/styles/v1/<MAPBOX_USERNAME>/cl7h7618q000a14o1guabw90p/sprite@2x?access_token=<MAPBOX_ACCESS_TOKEN>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Origin:
      - mbx-styles
      Etag:
      - '"sprite-4.5.8-v1/eltl8jv6khnp6j4mefw4fdnig"'
    body:
      encoding: ASCII-8BIT
      string: '{"pedestrian-polygon":{"width":128,"height":128,"x":0,"y":0,"pixelRatio":2,"visible":true},"us-interstate-truck-2":{"width":40,"height":80,"x":128,"y":0,"pixelRatio":2,"placeholder":[0,34,40,46],"visible":true},"us-interstate-truck-3":{"width":52,"height":80,"x":168,"y":0,"pixelRatio":2,"placeholder":[0,34,52,46],"visible":true},"us-highway-business-2":{"width":40,"height":76,"x":0,"y":128,"pixelRatio":2,"placeholder":[0,32,40,44],"visible":true},"us-highway-business-3":{"width":52,"height":76,"x":40,"y":128,"pixelRatio":2,"placeholder":[0,32,52,44],"visible":true},"us-highway-bypass-2":{"width":40,"height":76,"x":92,"y":128,"pixelRatio":2,"placeholder":[0,32,40,44],"visible":true},"us-highway-bypass-3":{"width":52,"height":76,"x":132,"y":128,"pixelRatio":2,"placeholder":[0,32,52,44],"visible":true},"us-highway-truck-2":{"width":40,"height":76,"x":184,"y":128,"pixelRatio":2,"placeholder":[0,32,40,44],"visible":true},"us-highway-truck-3":{"width":52,"height":76,"x":224,"y":128,"pixelRatio":2,"placeholder":[0,32,52,44],"visible":true},"ae-f-route-3":{"width":48,"height":54,"x":276,"y":128,"pixelRatio":2,"placeholder":[0,21,48,33],"visible":true},"ae-s-route-4":{"width":76,"height":52,"x":324,"y":128,"pixelRatio":2,"placeholder":[0,20,76,32],"visible":true},"pe-national-2":{"width":36,"height":52,"x":400,"y":128,"pixelRatio":2,"placeholder":[0,20,36,32],"visible":true},"pe-national-3":{"width":44,"height":52,"x":436,"y":128,"pixelRatio":2,"placeholder":[0,20,44,32],"visible":true},"ae-national-3":{"width":52,"height":50,"x":220,"y":0,"pixelRatio":2,"placeholder":[0,19,52,31],"visible":true},"ae-national-4":{"width":64,"height":50,"x":272,"y":0,"pixelRatio":2,"placeholder":[0,19,64,31],"visible":true},"ae-d-route-3":{"width":48,"height":48,"x":336,"y":0,"pixelRatio":2,"placeholder":[0,18,48,30],"visible":true},"ae-d-route-4":{"width":60,"height":48,"x":384,"y":0,"pixelRatio":2,"placeholder":[0,18,60,30],"visible":true},"tw-provincial-2":{"width":44,"height":48,"x":444,"y":0,"pixelRatio":2,"placeholder":[0,18,44,30],"visible":true},"tw-provincial-3":{"width":56,"height":48,"x":0,"y":204,"pixelRatio":2,"placeholder":[0,18,56,30],"visible":true},"tw-provincial-expy-2":{"width":44,"height":48,"x":56,"y":204,"pixelRatio":2,"placeholder":[0,18,44,30],"visible":true},"tw-provincial-expy-3":{"width":56,"height":48,"x":100,"y":204,"pixelRatio":2,"placeholder":[0,18,56,30],"visible":true},"za-provincial-2":{"width":48,"height":48,"x":156,"y":204,"pixelRatio":2,"placeholder":[0,18,48,30],"visible":true},"cn-nths-expy-2":{"width":40,"height":46,"x":204,"y":204,"pixelRatio":2,"placeholder":[0,17,40,29],"visible":true},"cn-nths-expy-3":{"width":52,"height":46,"x":244,"y":204,"pixelRatio":2,"placeholder":[0,17,52,29],"visible":true},"cn-nths-expy-4":{"width":64,"height":46,"x":296,"y":204,"pixelRatio":2,"placeholder":[0,17,64,29],"visible":true},"cn-nths-expy-5":{"width":76,"height":46,"x":360,"y":204,"pixelRatio":2,"placeholder":[0,17,76,29],"visible":true},"cn-provincial-expy-2":{"width":40,"height":46,"x":436,"y":204,"pixelRatio":2,"placeholder":[0,17,40,29],"visible":true},"cn-provincial-expy-3":{"width":52,"height":46,"x":0,"y":252,"pixelRatio":2,"placeholder":[0,17,52,29],"visible":true},"cn-provincial-expy-4":{"width":64,"height":46,"x":52,"y":252,"pixelRatio":2,"placeholder":[0,17,64,29],"visible":true},"cn-provincial-expy-5":{"width":76,"height":46,"x":116,"y":252,"pixelRatio":2,"placeholder":[0,17,76,29],"visible":true},"th-highway-2":{"width":40,"height":46,"x":192,"y":252,"pixelRatio":2,"placeholder":[0,17,40,29],"visible":true},"th-highway-3":{"width":52,"height":46,"x":232,"y":252,"pixelRatio":2,"placeholder":[0,17,52,29],"visible":true},"th-highway-4":{"width":64,"height":46,"x":284,"y":252,"pixelRatio":2,"placeholder":[0,17,64,29],"visible":true},"th-motorway-2":{"width":40,"height":46,"x":348,"y":252,"pixelRatio":2,"placeholder":[0,17,40,29],"visible":true},"th-motorway-toll-2":{"width":40,"height":46,"x":388,"y":252,"pixelRatio":2,"placeholder":[0,17,40,29],"visible":true},"br-federal-3":{"width":52,"height":44,"x":428,"y":252,"pixelRatio":2,"placeholder":[0,16,52,28],"visible":true},"hk-strategic-route-2":{"width":36,"height":44,"x":476,"y":204,"pixelRatio":2,"placeholder":[0,16,36,28],"visible":true},"in-national-2":{"width":32,"height":44,"x":480,"y":252,"pixelRatio":2,"placeholder":[0,16,32,28],"visible":true},"in-national-3":{"width":40,"height":44,"x":0,"y":298,"pixelRatio":2,"placeholder":[0,16,40,28],"visible":true},"in-national-4":{"width":48,"height":44,"x":40,"y":298,"pixelRatio":2,"placeholder":[0,16,48,28],"visible":true},"in-state-2":{"width":32,"height":44,"x":88,"y":298,"pixelRatio":2,"placeholder":[0,16,32,28],"visible":true},"in-state-3":{"width":40,"height":44,"x":120,"y":298,"pixelRatio":2,"placeholder":[0,16,40,28],"visible":true},"kr-natl-expy-2":{"width":40,"height":44,"x":160,"y":298,"pixelRatio":2,"placeholder":[0,16,40,28],"visible":true},"kr-natl-expy-3":{"width":52,"height":44,"x":200,"y":298,"pixelRatio":2,"placeholder":[0,16,52,28],"visible":true},"mx-federal-2":{"width":36,"height":44,"x":252,"y":298,"pixelRatio":2,"placeholder":[0,16,36,28],"visible":true},"mx-federal-3":{"width":46,"height":44,"x":288,"y":298,"pixelRatio":2,"placeholder":[0,16,46,28],"visible":true},"mx-federal-4":{"width":56,"height":44,"x":334,"y":298,"pixelRatio":2,"placeholder":[0,16,56,28],"visible":true},"mx-state-2":{"width":36,"height":44,"x":390,"y":298,"pixelRatio":2,"placeholder":[0,16,36,28],"visible":true},"mx-state-3":{"width":46,"height":44,"x":426,"y":298,"pixelRatio":2,"placeholder":[0,16,46,28],"visible":true},"mx-state-4":{"width":56,"height":44,"x":0,"y":342,"pixelRatio":2,"placeholder":[0,16,56,28],"visible":true},"pe-regional-3":{"width":46,"height":44,"x":56,"y":342,"pixelRatio":2,"placeholder":[0,16,46,28],"visible":true},"pe-regional-4":{"width":56,"height":44,"x":102,"y":342,"pixelRatio":2,"placeholder":[0,16,56,28],"visible":true},"tw-national-2":{"width":42,"height":44,"x":158,"y":342,"pixelRatio":2,"placeholder":[0,16,42,28],"visible":true},"us-interstate-2":{"width":40,"height":44,"x":472,"y":298,"pixelRatio":2,"placeholder":[0,16,40,28],"visible":true},"us-interstate-3":{"width":52,"height":44,"x":200,"y":342,"pixelRatio":2,"placeholder":[0,16,52,28],"visible":true},"us-interstate-4":{"width":64,"height":44,"x":252,"y":342,"pixelRatio":2,"placeholder":[0,16,64,28],"visible":true},"us-interstate-business-2":{"width":40,"height":44,"x":316,"y":342,"pixelRatio":2,"placeholder":[0,16,40,28],"visible":true},"us-interstate-business-3":{"width":52,"height":44,"x":356,"y":342,"pixelRatio":2,"placeholder":[0,16,52,28],"visible":true},"us-interstate-duplex-4":{"width":64,"height":44,"x":408,"y":342,"pixelRatio":2,"placeholder":[0,16,64,28],"visible":true},"us-interstate-duplex-5":{"width":76,"height":44,"x":0,"y":386,"pixelRatio":2,"placeholder":[0,16,76,28],"visible":true},"airfield":{"width":42,"height":42,"x":76,"y":386,"pixelRatio":2,"visible":true},"airport":{"width":42,"height":42,"x":118,"y":386,"pixelRatio":2,"visible":true},"alcohol-shop":{"width":42,"height":42,"x":160,"y":386,"pixelRatio":2,"visible":true},"american-football":{"width":42,"height":42,"x":202,"y":386,"pixelRatio":2,"visible":true},"amusement-park":{"width":42,"height":42,"x":244,"y":386,"pixelRatio":2,"visible":true},"aquarium":{"width":42,"height":42,"x":286,"y":386,"pixelRatio":2,"visible":true},"art-gallery":{"width":42,"height":42,"x":328,"y":386,"pixelRatio":2,"visible":true},"attraction":{"width":42,"height":42,"x":370,"y":386,"pixelRatio":2,"visible":true},"au-tourist-2":{"width":40,"height":42,"x":472,"y":342,"pixelRatio":2,"placeholder":[0,15,40,27],"visible":true},"au-tourist-3":{"width":56,"height":42,"x":412,"y":386,"pixelRatio":2,"placeholder":[0,15,56,27],"visible":true},"bakery":{"width":42,"height":42,"x":468,"y":386,"pixelRatio":2,"visible":true},"bank":{"width":42,"height":42,"x":0,"y":430,"pixelRatio":2,"visible":true},"bar":{"width":42,"height":42,"x":42,"y":430,"pixelRatio":2,"visible":true},"baseball":{"width":42,"height":42,"x":84,"y":430,"pixelRatio":2,"visible":true},"basketball":{"width":42,"height":42,"x":126,"y":430,"pixelRatio":2,"visible":true},"beach":{"width":42,"height":42,"x":168,"y":430,"pixelRatio":2,"visible":true},"beer":{"width":42,"height":42,"x":210,"y":430,"pixelRatio":2,"visible":true},"bicycle":{"width":42,"height":42,"x":252,"y":430,"pixelRatio":2,"visible":true},"bicycle-share":{"width":42,"height":42,"x":294,"y":430,"pixelRatio":2,"visible":true},"bowling-alley":{"width":42,"height":42,"x":336,"y":430,"pixelRatio":2,"visible":true},"bridge":{"width":42,"height":42,"x":378,"y":430,"pixelRatio":2,"visible":true},"bus":{"width":42,"height":42,"x":420,"y":430,"pixelRatio":2,"visible":true},"cafe":{"width":42,"height":42,"x":462,"y":430,"pixelRatio":2,"visible":true},"campsite":{"width":42,"height":42,"x":504,"y":430,"pixelRatio":2,"visible":true},"car":{"width":42,"height":42,"x":546,"y":430,"pixelRatio":2,"visible":true},"car-rental":{"width":42,"height":42,"x":588,"y":430,"pixelRatio":2,"visible":true},"car-repair":{"width":42,"height":42,"x":630,"y":430,"pixelRatio":2,"visible":true},"casino":{"width":42,"height":42,"x":672,"y":430,"pixelRatio":2,"visible":true},"castle":{"width":42,"height":42,"x":714,"y":430,"pixelRatio":2,"visible":true},"cemetery":{"width":42,"height":42,"x":756,"y":430,"pixelRatio":2,"visible":true},"charging-station":{"width":42,"height":42,"x":798,"y":430,"pixelRatio":2,"visible":true},"cinema":{"width":42,"height":42,"x":840,"y":430,"pixelRatio":2,"visible":true},"clothing-store":{"width":42,"height":42,"x":882,"y":430,"pixelRatio":2,"visible":true},"college":{"width":42,"height":42,"x":924,"y":430,"pixelRatio":2,"visible":true},"communications-tower":{"width":42,"height":42,"x":966,"y":430,"pixelRatio":2,"visible":true},"confectionery":{"width":42,"height":42,"x":512,"y":298,"pixelRatio":2,"visible":true},"convenience":{"width":42,"height":42,"x":554,"y":298,"pixelRatio":2,"visible":true},"dentist":{"width":42,"height":42,"x":596,"y":298,"pixelRatio":2,"visible":true},"doctor":{"width":42,"height":42,"x":638,"y":298,"pixelRatio":2,"visible":true},"dog-park":{"width":42,"height":42,"x":680,"y":298,"pixelRatio":2,"visible":true},"drinking-water":{"width":42,"height":42,"x":722,"y":298,"pixelRatio":2,"visible":true},"embassy":{"width":42,"height":42,"x":764,"y":298,"pixelRatio":2,"visible":true},"entrance":{"width":42,"height":42,"x":806,"y":298,"pixelRatio":2,"visible":true},"farm":{"width":42,"height":42,"x":848,"y":298,"pixelRatio":2,"visible":true},"fast-food":{"width":42,"height":42,"x":890,"y":298,"pixelRatio":2,"visible":true},"ferry":{"width":42,"height":42,"x":932,"y":298,"pixelRatio":2,"visible":true},"fire-station":{"width":42,"height":42,"x":974,"y":298,"pixelRatio":2,"visible":true},"fitness-centre":{"width":42,"height":42,"x":512,"y":342,"pixelRatio":2,"visible":true},"fuel":{"width":42,"height":42,"x":554,"y":342,"pixelRatio":2,"visible":true},"furniture":{"width":42,"height":42,"x":596,"y":342,"pixelRatio":2,"visible":true},"garden":{"width":42,"height":42,"x":638,"y":342,"pixelRatio":2,"visible":true},"globe":{"width":42,"height":42,"x":680,"y":342,"pixelRatio":2,"visible":true},"golf":{"width":42,"height":42,"x":722,"y":342,"pixelRatio":2,"visible":true},"grocery":{"width":42,"height":42,"x":764,"y":342,"pixelRatio":2,"visible":true},"harbor":{"width":42,"height":42,"x":806,"y":342,"pixelRatio":2,"visible":true},"hardware":{"width":42,"height":42,"x":848,"y":342,"pixelRatio":2,"visible":true},"heliport":{"width":42,"height":42,"x":890,"y":342,"pixelRatio":2,"visible":true},"highway-rest-area":{"width":42,"height":42,"x":932,"y":342,"pixelRatio":2,"visible":true},"horse-riding":{"width":42,"height":42,"x":974,"y":342,"pixelRatio":2,"visible":true},"hospital":{"width":42,"height":42,"x":510,"y":386,"pixelRatio":2,"visible":true},"hot-spring":{"width":42,"height":42,"x":552,"y":386,"pixelRatio":2,"visible":true},"ice-cream":{"width":42,"height":42,"x":594,"y":386,"pixelRatio":2,"visible":true},"industry":{"width":42,"height":42,"x":636,"y":386,"pixelRatio":2,"visible":true},"information":{"width":42,"height":42,"x":678,"y":386,"pixelRatio":2,"visible":true},"jewelry-store":{"width":42,"height":42,"x":720,"y":386,"pixelRatio":2,"visible":true},"landmark":{"width":42,"height":42,"x":762,"y":386,"pixelRatio":2,"visible":true},"laundry":{"width":42,"height":42,"x":804,"y":386,"pixelRatio":2,"visible":true},"library":{"width":42,"height":42,"x":846,"y":386,"pixelRatio":2,"visible":true},"lighthouse":{"width":42,"height":42,"x":888,"y":386,"pixelRatio":2,"visible":true},"lodging":{"width":42,"height":42,"x":930,"y":386,"pixelRatio":2,"visible":true},"mobile-phone":{"width":42,"height":42,"x":972,"y":386,"pixelRatio":2,"visible":true},"monument":{"width":42,"height":42,"x":512,"y":252,"pixelRatio":2,"visible":true},"mountain":{"width":42,"height":42,"x":554,"y":252,"pixelRatio":2,"visible":true},"museum":{"width":42,"height":42,"x":596,"y":252,"pixelRatio":2,"visible":true},"music":{"width":42,"height":42,"x":638,"y":252,"pixelRatio":2,"visible":true},"observation-tower":{"width":42,"height":42,"x":680,"y":252,"pixelRatio":2,"visible":true},"optician":{"width":42,"height":42,"x":722,"y":252,"pixelRatio":2,"visible":true},"park":{"width":42,"height":42,"x":764,"y":252,"pixelRatio":2,"visible":true},"parking":{"width":42,"height":42,"x":806,"y":252,"pixelRatio":2,"visible":true},"parking-garage":{"width":42,"height":42,"x":848,"y":252,"pixelRatio":2,"visible":true},"pharmacy":{"width":42,"height":42,"x":890,"y":252,"pixelRatio":2,"visible":true},"picnic-site":{"width":42,"height":42,"x":932,"y":252,"pixelRatio":2,"visible":true},"pitch":{"width":42,"height":42,"x":974,"y":252,"pixelRatio":2,"visible":true},"place-of-worship":{"width":42,"height":42,"x":512,"y":204,"pixelRatio":2,"visible":true},"playground":{"width":42,"height":42,"x":554,"y":204,"pixelRatio":2,"visible":true},"police":{"width":42,"height":42,"x":596,"y":204,"pixelRatio":2,"visible":true},"post":{"width":42,"height":42,"x":638,"y":204,"pixelRatio":2,"visible":true},"prison":{"width":42,"height":42,"x":680,"y":204,"pixelRatio":2,"visible":true},"racetrack":{"width":42,"height":42,"x":722,"y":204,"pixelRatio":2,"visible":true},"racetrack-boat":{"width":42,"height":42,"x":764,"y":204,"pixelRatio":2,"visible":true},"racetrack-cycling":{"width":42,"height":42,"x":806,"y":204,"pixelRatio":2,"visible":true},"racetrack-horse":{"width":42,"height":42,"x":848,"y":204,"pixelRatio":2,"visible":true},"rail":{"width":42,"height":42,"x":890,"y":204,"pixelRatio":2,"visible":true},"rail-light":{"width":42,"height":42,"x":932,"y":204,"pixelRatio":2,"visible":true},"rail-metro":{"width":42,"height":42,"x":974,"y":204,"pixelRatio":2,"visible":true},"ranger-station":{"width":42,"height":42,"x":480,"y":128,"pixelRatio":2,"visible":true},"religious-buddhist":{"width":42,"height":42,"x":522,"y":128,"pixelRatio":2,"visible":true},"religious-christian":{"width":42,"height":42,"x":564,"y":128,"pixelRatio":2,"visible":true},"religious-jewish":{"width":42,"height":42,"x":606,"y":128,"pixelRatio":2,"visible":true},"religious-muslim":{"width":42,"height":42,"x":648,"y":128,"pixelRatio":2,"visible":true},"religious-shinto":{"width":42,"height":42,"x":690,"y":128,"pixelRatio":2,"visible":true},"restaurant":{"width":42,"height":42,"x":732,"y":128,"pixelRatio":2,"visible":true},"restaurant-bbq":{"width":42,"height":42,"x":774,"y":128,"pixelRatio":2,"visible":true},"restaurant-noodle":{"width":42,"height":42,"x":816,"y":128,"pixelRatio":2,"visible":true},"restaurant-pizza":{"width":42,"height":42,"x":858,"y":128,"pixelRatio":2,"visible":true},"restaurant-seafood":{"width":42,"height":42,"x":900,"y":128,"pixelRatio":2,"visible":true},"rocket":{"width":42,"height":42,"x":942,"y":128,"pixelRatio":2,"visible":true},"school":{"width":42,"height":42,"x":488,"y":0,"pixelRatio":2,"visible":true},"shoe":{"width":42,"height":42,"x":530,"y":0,"pixelRatio":2,"visible":true},"shop":{"width":42,"height":42,"x":572,"y":0,"pixelRatio":2,"visible":true},"skateboard":{"width":42,"height":42,"x":614,"y":0,"pixelRatio":2,"visible":true},"skiing":{"width":42,"height":42,"x":656,"y":0,"pixelRatio":2,"visible":true},"slipway":{"width":42,"height":42,"x":698,"y":0,"pixelRatio":2,"visible":true},"stadium":{"width":42,"height":42,"x":740,"y":0,"pixelRatio":2,"visible":true},"suitcase":{"width":42,"height":42,"x":782,"y":0,"pixelRatio":2,"visible":true},"swimming":{"width":42,"height":42,"x":824,"y":0,"pixelRatio":2,"visible":true},"table-tennis":{"width":42,"height":42,"x":866,"y":0,"pixelRatio":2,"visible":true},"tennis":{"width":42,"height":42,"x":908,"y":0,"pixelRatio":2,"visible":true},"theatre":{"width":42,"height":42,"x":950,"y":0,"pixelRatio":2,"visible":true},"toilet":{"width":42,"height":42,"x":0,"y":472,"pixelRatio":2,"visible":true},"town-hall":{"width":42,"height":42,"x":42,"y":472,"pixelRatio":2,"visible":true},"veterinary":{"width":42,"height":42,"x":84,"y":472,"pixelRatio":2,"visible":true},"viewpoint":{"width":42,"height":42,"x":126,"y":472,"pixelRatio":2,"visible":true},"volcano":{"width":42,"height":42,"x":168,"y":472,"pixelRatio":2,"visible":true},"volleyball":{"width":42,"height":42,"x":210,"y":472,"pixelRatio":2,"visible":true},"watch":{"width":42,"height":42,"x":252,"y":472,"pixelRatio":2,"visible":true},"waterfall":{"width":42,"height":42,"x":294,"y":472,"pixelRatio":2,"visible":true},"watermill":{"width":42,"height":42,"x":336,"y":472,"pixelRatio":2,"visible":true},"windmill":{"width":42,"height":42,"x":378,"y":472,"pixelRatio":2,"visible":true},"zoo":{"width":42,"height":42,"x":420,"y":472,"pixelRatio":2,"visible":true},"ar-national-2":{"width":40,"height":40,"x":462,"y":472,"pixelRatio":2,"placeholder":[0,14,40,26],"visible":true},"ar-national-3":{"width":52,"height":40,"x":502,"y":472,"pixelRatio":2,"placeholder":[0,14,52,26],"visible":true},"ar-national-4":{"width":64,"height":40,"x":554,"y":472,"pixelRatio":2,"placeholder":[0,14,64,26],"visible":true},"au-national-highway-2":{"width":40,"height":40,"x":618,"y":472,"pixelRatio":2,"placeholder":[0,14,40,26],"visible":true},"au-national-highway-3":{"width":52,"height":40,"x":658,"y":472,"pixelRatio":2,"placeholder":[0,14,52,26],"visible":true},"au-national-route-2":{"width":40,"height":40,"x":710,"y":472,"pixelRatio":2,"placeholder":[0,14,40,26],"visible":true},"au-national-route-3":{"width":52,"height":40,"x":750,"y":472,"pixelRatio":2,"placeholder":[0,14,52,26],"visible":true},"au-national-route-4":{"width":64,"height":40,"x":802,"y":472,"pixelRatio":2,"placeholder":[0,14,64,26],"visible":true},"au-national-route-5":{"width":76,"height":40,"x":866,"y":472,"pixelRatio":2,"placeholder":[0,14,76,26],"visible":true},"au-national-route-6":{"width":86,"height":40,"x":0,"y":514,"pixelRatio":2,"placeholder":[0,14,86,26],"visible":true},"au-state-2":{"width":36,"height":40,"x":86,"y":514,"pixelRatio":2,"placeholder":[0,14,36,26],"visible":true},"au-state-3":{"width":46,"height":40,"x":122,"y":514,"pixelRatio":2,"placeholder":[0,14,46,26],"visible":true},"au-state-4":{"width":58,"height":40,"x":168,"y":514,"pixelRatio":2,"placeholder":[0,14,58,26],"visible":true},"au-state-5":{"width":68,"height":40,"x":226,"y":514,"pixelRatio":2,"placeholder":[0,14,68,26],"visible":true},"au-state-6":{"width":78,"height":40,"x":294,"y":514,"pixelRatio":2,"placeholder":[0,14,78,26],"visible":true},"br-state-2":{"width":40,"height":40,"x":372,"y":514,"pixelRatio":2,"placeholder":[0,14,40,26],"visible":true},"br-state-3":{"width":56,"height":40,"x":412,"y":514,"pixelRatio":2,"placeholder":[0,14,56,26],"visible":true},"ca-trans-canada-2":{"width":40,"height":40,"x":468,"y":514,"pixelRatio":2,"placeholder":[0,14,40,26],"visible":true},"ca-trans-canada-3":{"width":64,"height":40,"x":508,"y":514,"pixelRatio":2,"placeholder":[0,14,64,26],"visible":true},"circle-white-2":{"width":40,"height":40,"x":572,"y":514,"pixelRatio":2,"placeholder":[0,14,40,26],"visible":true},"circle-white-3":{"width":52,"height":40,"x":612,"y":514,"pixelRatio":2,"placeholder":[0,14,52,26],"visible":true},"circle-white-4":{"width":64,"height":40,"x":664,"y":514,"pixelRatio":2,"placeholder":[0,14,64,26],"visible":true},"cl-highway-2":{"width":40,"height":40,"x":728,"y":514,"pixelRatio":2,"placeholder":[0,14,40,26],"visible":true},"cl-highway-3":{"width":52,"height":40,"x":768,"y":514,"pixelRatio":2,"placeholder":[0,14,52,26],"visible":true},"co-national-2":{"width":40,"height":40,"x":820,"y":514,"pixelRatio":2,"placeholder":[0,14,40,26],"visible":true},"co-national-3":{"width":48,"height":40,"x":860,"y":514,"pixelRatio":2,"placeholder":[0,14,48,26],"visible":true},"hu-main-2":{"width":40,"height":40,"x":908,"y":514,"pixelRatio":2,"placeholder":[0,14,40,26],"visible":true},"hu-main-3":{"width":52,"height":40,"x":948,"y":514,"pixelRatio":2,"placeholder":[0,14,52,26],"visible":true},"hu-main-4":{"width":64,"height":40,"x":942,"y":472,"pixelRatio":2,"placeholder":[0,14,64,26],"visible":true},"hu-main-5":{"width":76,"height":40,"x":0,"y":554,"pixelRatio":2,"placeholder":[0,14,76,26],"visible":true},"hu-motorway-2":{"width":40,"height":40,"x":76,"y":554,"pixelRatio":2,"placeholder":[0,14,40,26],"visible":true},"hu-motorway-3":{"width":52,"height":40,"x":116,"y":554,"pixelRatio":2,"placeholder":[0,14,52,26],"visible":true},"marker":{"width":24,"height":40,"x":1000,"y":514,"pixelRatio":2,"visible":true},"nz-state-2":{"width":36,"height":40,"x":168,"y":554,"pixelRatio":2,"placeholder":[0,14,36,26],"visible":true},"nz-state-3":{"width":46,"height":40,"x":204,"y":554,"pixelRatio":2,"placeholder":[0,14,46,26],"visible":true},"ro-communal-2":{"width":40,"height":40,"x":250,"y":554,"pixelRatio":2,"placeholder":[0,14,40,26],"visible":true},"ro-communal-3":{"width":52,"height":40,"x":290,"y":554,"pixelRatio":2,"placeholder":[0,14,52,26],"visible":true},"ro-communal-4":{"width":64,"height":40,"x":342,"y":554,"pixelRatio":2,"placeholder":[0,14,64,26],"visible":true},"ro-county-3":{"width":52,"height":40,"x":406,"y":554,"pixelRatio":2,"placeholder":[0,14,52,26],"visible":true},"ro-county-4":{"width":64,"height":40,"x":458,"y":554,"pixelRatio":2,"placeholder":[0,14,64,26],"visible":true},"ro-national-2":{"width":40,"height":40,"x":522,"y":554,"pixelRatio":2,"placeholder":[0,14,40,26],"visible":true},"ro-national-3":{"width":52,"height":40,"x":562,"y":554,"pixelRatio":2,"placeholder":[0,14,52,26],"visible":true},"tw-county-township-2":{"width":40,"height":40,"x":614,"y":554,"pixelRatio":2,"placeholder":[0,14,40,26],"visible":true},"tw-county-township-3":{"width":52,"height":40,"x":654,"y":554,"pixelRatio":2,"placeholder":[0,14,52,26],"visible":true},"tw-county-township-4":{"width":64,"height":40,"x":706,"y":554,"pixelRatio":2,"placeholder":[0,14,64,26],"visible":true},"tw-county-township-5":{"width":76,"height":40,"x":770,"y":554,"pixelRatio":2,"placeholder":[0,14,76,26],"visible":true},"tw-county-township-6":{"width":88,"height":40,"x":846,"y":554,"pixelRatio":2,"placeholder":[0,14,88,26],"visible":true},"us-bia-2":{"width":40,"height":40,"x":934,"y":554,"pixelRatio":2,"placeholder":[0,14,40,26],"visible":true},"us-bia-3":{"width":52,"height":40,"x":0,"y":594,"pixelRatio":2,"placeholder":[0,14,52,26],"visible":true},"us-bia-4":{"width":60,"height":40,"x":52,"y":594,"pixelRatio":2,"placeholder":[0,14,60,26],"visible":true},"us-highway-2":{"width":40,"height":40,"x":974,"y":554,"pixelRatio":2,"placeholder":[0,14,40,26],"visible":true},"us-highway-3":{"width":52,"height":40,"x":112,"y":594,"pixelRatio":2,"placeholder":[0,14,52,26],"visible":true},"us-highway-4":{"width":64,"height":40,"x":164,"y":594,"pixelRatio":2,"placeholder":[0,14,64,26],"visible":true},"us-highway-alternate-2":{"width":40,"height":40,"x":228,"y":594,"pixelRatio":2,"placeholder":[0,14,40,26],"visible":true},"us-highway-alternate-3":{"width":52,"height":40,"x":268,"y":594,"pixelRatio":2,"placeholder":[0,14,52,26],"visible":true},"us-highway-duplex-3":{"width":52,"height":40,"x":320,"y":594,"pixelRatio":2,"placeholder":[0,14,52,26],"visible":true},"us-highway-duplex-4":{"width":64,"height":40,"x":372,"y":594,"pixelRatio":2,"placeholder":[0,14,64,26],"visible":true},"us-highway-duplex-5":{"width":76,"height":40,"x":436,"y":594,"pixelRatio":2,"placeholder":[0,14,76,26],"visible":true},"za-national-2":{"width":40,"height":40,"x":512,"y":594,"pixelRatio":2,"placeholder":[0,14,40,26],"visible":true},"za-national-3":{"width":56,"height":40,"x":552,"y":594,"pixelRatio":2,"placeholder":[0,14,56,26],"visible":true},"barcelona-metro":{"width":38,"height":38,"x":608,"y":594,"pixelRatio":2,"visible":true},"boston-t":{"width":38,"height":38,"x":646,"y":594,"pixelRatio":2,"visible":true},"de-s-bahn":{"width":38,"height":38,"x":684,"y":594,"pixelRatio":2,"visible":true},"de-s-bahn.de-u-bahn":{"width":70,"height":38,"x":722,"y":594,"pixelRatio":2,"visible":true},"delhi-metro":{"width":38,"height":38,"x":792,"y":594,"pixelRatio":2,"visible":true},"kiev-metro":{"width":38,"height":38,"x":830,"y":594,"pixelRatio":2,"visible":true},"kr-metro-expy-2":{"width":40,"height":38,"x":868,"y":594,"pixelRatio":2,"placeholder":[0,13,40,25],"visible":true},"kr-metro-expy-3":{"width":52,"height":38,"x":908,"y":594,"pixelRatio":2,"placeholder":[0,13,52,25],"visible":true},"kr-metro-expy-4":{"width":64,"height":38,"x":960,"y":594,"pixelRatio":2,"placeholder":[0,13,64,25],"visible":true},"madrid-metro":{"width":38,"height":38,"x":984,"y":128,"pixelRatio":2,"visible":true},"new-york-subway":{"width":38,"height":38,"x":0,"y":634,"pixelRatio":2,"visible":true},"oslo-metro":{"width":38,"height":38,"x":38,"y":634,"pixelRatio":2,"visible":true},"paris-metro":{"width":38,"height":38,"x":76,"y":634,"pixelRatio":2,"visible":true},"paris-metro.paris-rer":{"width":74,"height":38,"x":114,"y":634,"pixelRatio":2,"visible":true},"paris-rer":{"width":38,"height":38,"x":188,"y":634,"pixelRatio":2,"visible":true},"paris-rer.paris-transilien":{"width":70,"height":38,"x":226,"y":634,"pixelRatio":2,"visible":true},"road-closure":{"width":38,"height":38,"x":296,"y":634,"pixelRatio":2,"visible":true},"stockholm-metro":{"width":38,"height":38,"x":334,"y":634,"pixelRatio":2,"visible":true},"taipei-metro":{"width":38,"height":38,"x":372,"y":634,"pixelRatio":2,"visible":true},"vienna-u-bahn":{"width":38,"height":38,"x":410,"y":634,"pixelRatio":2,"visible":true},"kr-natl-hwy-2":{"width":44,"height":36,"x":448,"y":634,"pixelRatio":2,"placeholder":[0,12,44,24],"visible":true},"chongqing-rail-transit":{"width":50,"height":34,"x":492,"y":634,"pixelRatio":2,"visible":true},"de-u-bahn":{"width":34,"height":34,"x":542,"y":634,"pixelRatio":2,"visible":true},"hong-kong-mtr":{"width":38,"height":34,"x":576,"y":634,"pixelRatio":2,"visible":true},"mexico-city-metro":{"width":34,"height":34,"x":614,"y":634,"pixelRatio":2,"visible":true},"milan-metro":{"width":34,"height":34,"x":648,"y":634,"pixelRatio":2,"visible":true},"moscow-metro":{"width":34,"height":34,"x":682,"y":634,"pixelRatio":2,"visible":true},"osaka-subway":{"width":34,"height":34,"x":716,"y":634,"pixelRatio":2,"visible":true},"paris-transilien":{"width":34,"height":34,"x":750,"y":634,"pixelRatio":2,"visible":true},"philadelphia-septa":{"width":38,"height":34,"x":784,"y":634,"pixelRatio":2,"visible":true},"san-francisco-bart":{"width":34,"height":34,"x":822,"y":634,"pixelRatio":2,"visible":true},"singapore-mrt":{"width":34,"height":34,"x":856,"y":634,"pixelRatio":2,"visible":true},"tokyo-metro":{"width":34,"height":34,"x":890,"y":634,"pixelRatio":2,"visible":true},"traffic-signal":{"width":16,"height":34,"x":924,"y":634,"pixelRatio":2,"visible":true},"washington-metro":{"width":34,"height":34,"x":940,"y":634,"pixelRatio":2,"visible":true},"ch-motorway-2":{"width":44,"height":32,"x":974,"y":634,"pixelRatio":2,"placeholder":[0,10,44,22],"visible":true},"ch-motorway-3":{"width":56,"height":32,"x":0,"y":672,"pixelRatio":2,"placeholder":[0,10,56,22],"visible":true},"de-motorway-2":{"width":44,"height":32,"x":56,"y":672,"pixelRatio":2,"placeholder":[0,10,44,22],"visible":true},"de-motorway-3":{"width":56,"height":32,"x":100,"y":672,"pixelRatio":2,"placeholder":[0,10,56,22],"visible":true},"gb-national-rail.london-dlr":{"width":72,"height":32,"x":156,"y":672,"pixelRatio":2,"visible":true},"gb-national-rail.london-dlr.london-overground.london-tfl-rail.london-underground":{"width":186,"height":32,"x":228,"y":672,"pixelRatio":2,"visible":true},"gb-national-rail.london-dlr.london-overground.london-underground":{"width":148,"height":32,"x":414,"y":672,"pixelRatio":2,"visible":true},"gb-national-rail.london-dlr.london-underground":{"width":110,"height":32,"x":562,"y":672,"pixelRatio":2,"visible":true},"gb-national-rail.london-overground":{"width":72,"height":32,"x":672,"y":672,"pixelRatio":2,"visible":true},"gb-national-rail.london-overground.london-tfl-rail.london-underground":{"width":148,"height":32,"x":744,"y":672,"pixelRatio":2,"visible":true},"gb-national-rail.london-overground.london-underground":{"width":110,"height":32,"x":892,"y":672,"pixelRatio":2,"visible":true},"gb-national-rail.london-tfl-rail":{"width":72,"height":32,"x":0,"y":704,"pixelRatio":2,"visible":true},"gb-national-rail.london-tfl-rail.london-overground":{"width":110,"height":32,"x":72,"y":704,"pixelRatio":2,"visible":true},"gb-national-rail.london-tfl-rail.london-underground":{"width":110,"height":32,"x":182,"y"
[...]
