---
http_interactions:
- request:
    method: put
    uri: https://api.mapbox.com/styles/v1/<MAPBOX_USERNAME>/clb1jxblw000014tbwhfjxy31/sprite/circle?access_token=<MAPBOX_ACCESS_TOKEN>
    body:
      encoding: UTF-8
      string: |
        <svg class="square" width="200" height="200" viewBox="0 0 100 100" xmlns="http://www.w3.org/2000/svg" version="1.1">
          <circle cx="100" cy="100" r="100" />
        </svg>
    headers:
      Content-Type:
      - image/svg+xml
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Origin:
      - mbx-styles
      Etag:
      - W/"4f-TPEFKGz6xrBjUslJJietuSWNT5g"
    body:
      encoding: ASCII-8BIT
      string: '{"circle":{"width":200,"height":200,"x":0,"y":0,"pixelRatio":1,"visible":true}}'
  recorded_at: Wed, 30 Nov 2022 01:37:12 GMT
- request:
    method: delete
    uri: https://api.mapbox.com/styles/v1/<MAPBOX_USERNAME>/clb1jxblw000014tbwhfjxy31/sprite/circle?access_token=<MAPBOX_ACCESS_TOKEN>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Origin:
      - mbx-styles
      Etag:
      - W/"2-vyGp6PvFo4RvsFtPoIWeCReyIC8"
    body:
      encoding: ASCII-8BIT
      string: "{}"
  recorded_at: Wed, 30 Nov 2022 01:37:12 GMT
recorded_with: VCR 6.1.0
