---
http_interactions:
- request:
    method: delete
    uri: https://api.mapbox.com/styles/v1/<MAPBOX_USERNAME>/cl7h7618q000a14o1guabw90p/sprite/circle?access_token=<MAPBOX_ACCESS_TOKEN>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Origin:
      - mbx-styles
      Etag:
      - W/"9936-5k9QSF30UlJL9JJ2pYT6ymUCbrw"
    body:
      encoding: ASCII-8BIT
      string: '{"circle.svg":{"width":200,"height":200,"x":0,"y":0,"pixelRatio":1,"visible":true},"square":{"width":200,"height":200,"x":200,"y":0,"pixelRatio":1,"visible":true},"pedestrian-polygon":{"width":64,"height":64,"x":0,"y":200,"pixelRatio":1,"visible":true},"us-interstate-truck-2":{"width":20,"height":40,"x":64,"y":200,"pixelRatio":1,"placeholder":[0,17,20,23],"visible":true},"us-interstate-truck-3":{"width":26,"height":40,"x":84,"y":200,"pixelRatio":1,"placeholder":[0,17,26,23],"visible":true},"us-highway-business-2":{"width":20,"height":38,"x":110,"y":200,"pixelRatio":1,"placeholder":[0,16,20,22],"visible":true},"us-highway-business-3":{"width":26,"height":38,"x":130,"y":200,"pixelRatio":1,"placeholder":[0,16,26,22],"visible":true},"us-highway-bypass-2":{"width":20,"height":38,"x":156,"y":200,"pixelRatio":1,"placeholder":[0,16,20,22],"visible":true},"us-highway-bypass-3":{"width":26,"height":38,"x":176,"y":200,"pixelRatio":1,"placeholder":[0,16,26,22],"visible":true},"us-highway-truck-2":{"width":20,"height":38,"x":202,"y":200,"pixelRatio":1,"placeholder":[0,16,20,22],"visible":true},"us-highway-truck-3":{"width":26,"height":38,"x":222,"y":200,"pixelRatio":1,"placeholder":[0,16,26,22],"visible":true},"ae-f-route-3":{"width":24,"height":27,"x":248,"y":200,"pixelRatio":1,"placeholder":[0,10.5,24,16.5],"visible":true},"ae-s-route-4":{"width":38,"height":26,"x":272,"y":200,"pixelRatio":1,"placeholder":[0,10,38,16],"visible":true},"pe-national-2":{"width":18,"height":26,"x":310,"y":200,"pixelRatio":1,"placeholder":[0,10,18,16],"visible":true},"pe-national-3":{"width":22,"height":26,"x":328,"y":200,"pixelRatio":1,"placeholder":[0,10,22,16],"visible":true},"ae-national-3":{"width":26,"height":25,"x":350,"y":200,"pixelRatio":1,"placeholder":[0,9.5,26,15.5],"visible":true},"ae-national-4":{"width":32,"height":25,"x":0,"y":264,"pixelRatio":1,"placeholder":[0,9.5,32,15.5],"visible":true},"ae-d-route-3":{"width":24,"height":24,"x":32,"y":264,"pixelRatio":1,"placeholder":[0,9,24,15],"visible":true},"ae-d-route-4":{"width":30,"height":24,"x":56,"y":264,"pixelRatio":1,"placeholder":[0,9,30,15],"visible":true},"tw-provincial-2":{"width":22,"height":24,"x":86,"y":264,"pixelRatio":1,"placeholder":[0,9,22,15],"visible":true},"tw-provincial-3":{"width":28,"height":24,"x":108,"y":264,"pixelRatio":1,"placeholder":[0,9,28,15],"visible":true},"tw-provincial-expy-2":{"width":22,"height":24,"x":136,"y":264,"pixelRatio":1,"placeholder":[0,9,22,15],"visible":true},"tw-provincial-expy-3":{"width":28,"height":24,"x":158,"y":264,"pixelRatio":1,"placeholder":[0,9,28,15],"visible":true},"za-provincial-2":{"width":24,"height":24,"x":186,"y":264,"pixelRatio":1,"placeholder":[0,9,24,15],"visible":true},"cn-nths-expy-2":{"width":20,"height":23,"x":210,"y":264,"pixelRatio":1,"placeholder":[0,8.5,20,14.5],"visible":true},"cn-nths-expy-3":{"width":26,"height":23,"x":230,"y":264,"pixelRatio":1,"placeholder":[0,8.5,26,14.5],"visible":true},"cn-nths-expy-4":{"width":32,"height":23,"x":256,"y":264,"pixelRatio":1,"placeholder":[0,8.5,32,14.5],"visible":true},"cn-nths-expy-5":{"width":38,"height":23,"x":288,"y":264,"pixelRatio":1,"placeholder":[0,8.5,38,14.5],"visible":true},"cn-provincial-expy-2":{"width":20,"height":23,"x":326,"y":264,"pixelRatio":1,"placeholder":[0,8.5,20,14.5],"visible":true},"cn-provincial-expy-3":{"width":26,"height":23,"x":346,"y":264,"pixelRatio":1,"placeholder":[0,8.5,26,14.5],"visible":true},"cn-provincial-expy-4":{"width":32,"height":23,"x":0,"y":289,"pixelRatio":1,"placeholder":[0,8.5,32,14.5],"visible":true},"cn-provincial-expy-5":{"width":38,"height":23,"x":32,"y":289,"pixelRatio":1,"placeholder":[0,8.5,38,14.5],"visible":true},"th-highway-2":{"width":20,"height":23,"x":70,"y":289,"pixelRatio":1,"placeholder":[0,8.5,20,14.5],"visible":true},"th-highway-3":{"width":26,"height":23,"x":90,"y":289,"pixelRatio":1,"placeholder":[0,8.5,26,14.5],"visible":true},"th-highway-4":{"width":32,"height":23,"x":116,"y":289,"pixelRatio":1,"placeholder":[0,8.5,32,14.5],"visible":true},"th-motorway-2":{"width":20,"height":23,"x":148,"y":289,"pixelRatio":1,"placeholder":[0,8.5,20,14.5],"visible":true},"th-motorway-toll-2":{"width":20,"height":23,"x":168,"y":289,"pixelRatio":1,"placeholder":[0,8.5,20,14.5],"visible":true},"br-federal-3":{"width":26,"height":22,"x":188,"y":289,"pixelRatio":1,"placeholder":[0,8,26,14],"visible":true},"hk-strategic-route-2":{"width":18,"height":22,"x":214,"y":289,"pixelRatio":1,"placeholder":[0,8,18,14],"visible":true},"in-national-2":{"width":16,"height":22,"x":232,"y":289,"pixelRatio":1,"placeholder":[0,8,16,14],"visible":true},"in-national-3":{"width":20,"height":22,"x":248,"y":289,"pixelRatio":1,"placeholder":[0,8,20,14],"visible":true},"in-national-4":{"width":24,"height":22,"x":268,"y":289,"pixelRatio":1,"placeholder":[0,8,24,14],"visible":true},"in-state-2":{"width":16,"height":22,"x":292,"y":289,"pixelRatio":1,"placeholder":[0,8,16,14],"visible":true},"in-state-3":{"width":20,"height":22,"x":308,"y":289,"pixelRatio":1,"placeholder":[0,8,20,14],"visible":true},"kr-natl-expy-2":{"width":20,"height":22,"x":328,"y":289,"pixelRatio":1,"placeholder":[0,8,20,14],"visible":true},"kr-natl-expy-3":{"width":26,"height":22,"x":348,"y":289,"pixelRatio":1,"placeholder":[0,8,26,14],"visible":true},"mx-federal-2":{"width":18,"height":22,"x":374,"y":289,"pixelRatio":1,"placeholder":[0,8,18,14],"visible":true},"mx-federal-3":{"width":23,"height":22,"x":372,"y":264,"pixelRatio":1,"placeholder":[0,8,23,14],"visible":true},"mx-federal-4":{"width":28,"height":22,"x":0,"y":312,"pixelRatio":1,"placeholder":[0,8,28,14],"visible":true},"mx-state-2":{"width":18,"height":22,"x":28,"y":312,"pixelRatio":1,"placeholder":[0,8,18,14],"visible":true},"mx-state-3":{"width":23,"height":22,"x":46,"y":312,"pixelRatio":1,"placeholder":[0,8,23,14],"visible":true},"mx-state-4":{"width":28,"height":22,"x":69,"y":312,"pixelRatio":1,"placeholder":[0,8,28,14],"visible":true},"pe-regional-3":{"width":23,"height":22,"x":97,"y":312,"pixelRatio":1,"placeholder":[0,8,23,14],"visible":true},"pe-regional-4":{"width":28,"height":22,"x":120,"y":312,"pixelRatio":1,"placeholder":[0,8,28,14],"visible":true},"tw-national-2":{"width":21,"height":22,"x":148,"y":312,"pixelRatio":1,"placeholder":[0,8,21,14],"visible":true},"us-interstate-2":{"width":20,"height":22,"x":169,"y":312,"pixelRatio":1,"placeholder":[0,8,20,14],"visible":true},"us-interstate-3":{"width":26,"height":22,"x":189,"y":312,"pixelRatio":1,"placeholder":[0,8,26,14],"visible":true},"us-interstate-4":{"width":32,"height":22,"x":215,"y":312,"pixelRatio":1,"placeholder":[0,8,32,14],"visible":true},"us-interstate-business-2":{"width":20,"height":22,"x":247,"y":312,"pixelRatio":1,"placeholder":[0,8,20,14],"visible":true},"us-interstate-business-3":{"width":26,"height":22,"x":267,"y":312,"pixelRatio":1,"placeholder":[0,8,26,14],"visible":true},"us-interstate-duplex-4":{"width":32,"height":22,"x":293,"y":312,"pixelRatio":1,"placeholder":[0,8,32,14],"visible":true},"us-interstate-duplex-5":{"width":38,"height":22,"x":325,"y":312,"pixelRatio":1,"placeholder":[0,8,38,14],"visible":true},"airfield":{"width":21,"height":21,"x":363,"y":312,"pixelRatio":1,"visible":true},"airport":{"width":21,"height":21,"x":376,"y":200,"pixelRatio":1,"visible":true},"alcohol-shop":{"width":21,"height":21,"x":0,"y":334,"pixelRatio":1,"visible":true},"american-football":{"width":21,"height":21,"x":21,"y":334,"pixelRatio":1,"visible":true},"amusement-park":{"width":21,"height":21,"x":42,"y":334,"pixelRatio":1,"visible":true},"aquarium":{"width":21,"height":21,"x":63,"y":334,"pixelRatio":1,"visible":true},"art-gallery":{"width":21,"height":21,"x":84,"y":334,"pixelRatio":1,"visible":true},"attraction":{"width":21,"height":21,"x":105,"y":334,"pixelRatio":1,"visible":true},"au-tourist-2":{"width":20,"height":21,"x":126,"y":334,"pixelRatio":1,"placeholder":[0,7.5,20,13.5],"visible":true},"au-tourist-3":{"width":28,"height":21,"x":146,"y":334,"pixelRatio":1,"placeholder":[0,7.5,28,13.5],"visible":true},"bakery":{"width":21,"height":21,"x":174,"y":334,"pixelRatio":1,"visible":true},"bank":{"width":21,"height":21,"x":195,"y":334,"pixelRatio":1,"visible":true},"bar":{"width":21,"height":21,"x":216,"y":334,"pixelRatio":1,"visible":true},"baseball":{"width":21,"height":21,"x":237,"y":334,"pixelRatio":1,"visible":true},"basketball":{"width":21,"height":21,"x":258,"y":334,"pixelRatio":1,"visible":true},"beach":{"width":21,"height":21,"x":279,"y":334,"pixelRatio":1,"visible":true},"beer":{"width":21,"height":21,"x":300,"y":334,"pixelRatio":1,"visible":true},"bicycle":{"width":21,"height":21,"x":321,"y":334,"pixelRatio":1,"visible":true},"bicycle-share":{"width":21,"height":21,"x":342,"y":334,"pixelRatio":1,"visible":true},"bowling-alley":{"width":21,"height":21,"x":363,"y":334,"pixelRatio":1,"visible":true},"bridge":{"width":21,"height":21,"x":0,"y":355,"pixelRatio":1,"visible":true},"bus":{"width":21,"height":21,"x":21,"y":355,"pixelRatio":1,"visible":true},"cafe":{"width":21,"height":21,"x":42,"y":355,"pixelRatio":1,"visible":true},"campsite":{"width":21,"height":21,"x":63,"y":355,"pixelRatio":1,"visible":true},"car":{"width":21,"height":21,"x":84,"y":355,"pixelRatio":1,"visible":true},"car-rental":{"width":21,"height":21,"x":105,"y":355,"pixelRatio":1,"visible":true},"car-repair":{"width":21,"height":21,"x":126,"y":355,"pixelRatio":1,"visible":true},"casino":{"width":21,"height":21,"x":147,"y":355,"pixelRatio":1,"visible":true},"castle":{"width":21,"height":21,"x":168,"y":355,"pixelRatio":1,"visible":true},"cemetery":{"width":21,"height":21,"x":189,"y":355,"pixelRatio":1,"visible":true},"charging-station":{"width":21,"height":21,"x":210,"y":355,"pixelRatio":1,"visible":true},"cinema":{"width":21,"height":21,"x":231,"y":355,"pixelRatio":1,"visible":true},"clothing-store":{"width":21,"height":21,"x":252,"y":355,"pixelRatio":1,"visible":true},"college":{"width":21,"height":21,"x":273,"y":355,"pixelRatio":1,"visible":true},"communications-tower":{"width":21,"height":21,"x":294,"y":355,"pixelRatio":1,"visible":true},"confectionery":{"width":21,"height":21,"x":315,"y":355,"pixelRatio":1,"visible":true},"convenience":{"width":21,"height":21,"x":336,"y":355,"pixelRatio":1,"visible":true},"dentist":{"width":21,"height":21,"x":357,"y":355,"pixelRatio":1,"visible":true},"doctor":{"width":21,"height":21,"x":378,"y":355,"pixelRatio":1,"visible":true},"dog-park":{"width":21,"height":21,"x":0,"y":376,"pixelRatio":1,"visible":true},"drinking-water":{"width":21,"height":21,"x":21,"y":376,"pixelRatio":1,"visible":true},"embassy":{"width":21,"height":21,"x":42,"y":376,"pixelRatio":1,"visible":true},"entrance":{"width":21,"height":21,"x":63,"y":376,"pixelRatio":1,"visible":true},"farm":{"width":21,"height":21,"x":84,"y":376,"pixelRatio":1,"visible":true},"fast-food":{"width":21,"height":21,"x":105,"y":376,"pixelRatio":1,"visible":true},"ferry":{"width":21,"height":21,"x":126,"y":376,"pixelRatio":1,"visible":true},"fire-station":{"width":21,"height":21,"x":147,"y":376,"pixelRatio":1,"visible":true},"fitness-centre":{"width":21,"height":21,"x":168,"y":376,"pixelRatio":1,"visible":true},"fuel":{"width":21,"height":21,"x":189,"y":376,"pixelRatio":1,"visible":true},"furniture":{"width":21,"height":21,"x":210,"y":376,"pixelRatio":1,"visible":true},"garden":{"width":21,"height":21,"x":231,"y":376,"pixelRatio":1,"visible":true},"globe":{"width":21,"height":21,"x":252,"y":376,"pixelRatio":1,"visible":true},"golf":{"width":21,"height":21,"x":273,"y":376,"pixelRatio":1,"visible":true},"grocery":{"width":21,"height":21,"x":294,"y":376,"pixelRatio":1,"visible":true},"harbor":{"width":21,"height":21,"x":315,"y":376,"pixelRatio":1,"visible":true},"hardware":{"width":21,"height":21,"x":336,"y":376,"pixelRatio":1,"visible":true},"heliport":{"width":21,"height":21,"x":357,"y":376,"pixelRatio":1,"visible":true},"highway-rest-area":{"width":21,"height":21,"x":378,"y":376,"pixelRatio":1,"visible":true},"horse-riding":{"width":21,"height":21,"x":384,"y":334,"pixelRatio":1,"visible":true},"hospital":{"width":21,"height":21,"x":405,"y":334,"pixelRatio":1,"visible":true},"hot-spring":{"width":21,"height":21,"x":426,"y":334,"pixelRatio":1,"visible":true},"ice-cream":{"width":21,"height":21,"x":447,"y":334,"pixelRatio":1,"visible":true},"industry":{"width":21,"height":21,"x":468,"y":334,"pixelRatio":1,"visible":true},"information":{"width":21,"height":21,"x":489,"y":334,"pixelRatio":1,"visible":true},"jewelry-store":{"width":21,"height":21,"x":510,"y":334,"pixelRatio":1,"visible":true},"landmark":{"width":21,"height":21,"x":531,"y":334,"pixelRatio":1,"visible":true},"laundry":{"width":21,"height":21,"x":552,"y":334,"pixelRatio":1,"visible":true},"library":{"width":21,"height":21,"x":573,"y":334,"pixelRatio":1,"visible":true},"lighthouse":{"width":21,"height":21,"x":594,"y":334,"pixelRatio":1,"visible":true},"lodging":{"width":21,"height":21,"x":615,"y":334,"pixelRatio":1,"visible":true},"mobile-phone":{"width":21,"height":21,"x":636,"y":334,"pixelRatio":1,"visible":true},"monument":{"width":21,"height":21,"x":657,"y":334,"pixelRatio":1,"visible":true},"mountain":{"width":21,"height":21,"x":678,"y":334,"pixelRatio":1,"visible":true},"museum":{"width":21,"height":21,"x":699,"y":334,"pixelRatio":1,"visible":true},"music":{"width":21,"height":21,"x":720,"y":334,"pixelRatio":1,"visible":true},"observation-tower":{"width":21,"height":21,"x":741,"y":334,"pixelRatio":1,"visible":true},"optician":{"width":21,"height":21,"x":762,"y":334,"pixelRatio":1,"visible":true},"park":{"width":21,"height":21,"x":399,"y":355,"pixelRatio":1,"visible":true},"parking":{"width":21,"height":21,"x":420,"y":355,"pixelRatio":1,"visible":true},"parking-garage":{"width":21,"height":21,"x":441,"y":355,"pixelRatio":1,"visible":true},"pharmacy":{"width":21,"height":21,"x":462,"y":355,"pixelRatio":1,"visible":true},"picnic-site":{"width":21,"height":21,"x":483,"y":355,"pixelRatio":1,"visible":true},"pitch":{"width":21,"height":21,"x":504,"y":355,"pixelRatio":1,"visible":true},"place-of-worship":{"width":21,"height":21,"x":525,"y":355,"pixelRatio":1,"visible":true},"playground":{"width":21,"height":21,"x":546,"y":355,"pixelRatio":1,"visible":true},"police":{"width":21,"height":21,"x":567,"y":355,"pixelRatio":1,"visible":true},"post":{"width":21,"height":21,"x":588,"y":355,"pixelRatio":1,"visible":true},"prison":{"width":21,"height":21,"x":609,"y":355,"pixelRatio":1,"visible":true},"racetrack":{"width":21,"height":21,"x":630,"y":355,"pixelRatio":1,"visible":true},"racetrack-boat":{"width":21,"height":21,"x":651,"y":355,"pixelRatio":1,"visible":true},"racetrack-cycling":{"width":21,"height":21,"x":672,"y":355,"pixelRatio":1,"visible":true},"racetrack-horse":{"width":21,"height":21,"x":693,"y":355,"pixelRatio":1,"visible":true},"rail":{"width":21,"height":21,"x":714,"y":355,"pixelRatio":1,"visible":true},"rail-light":{"width":21,"height":21,"x":735,"y":355,"pixelRatio":1,"visible":true},"rail-metro":{"width":21,"height":21,"x":756,"y":355,"pixelRatio":1,"visible":true},"ranger-station":{"width":21,"height":21,"x":777,"y":355,"pixelRatio":1,"visible":true},"religious-buddhist":{"width":21,"height":21,"x":399,"y":376,"pixelRatio":1,"visible":true},"religious-christian":{"width":21,"height":21,"x":420,"y":376,"pixelRatio":1,"visible":true},"religious-jewish":{"width":21,"height":21,"x":441,"y":376,"pixelRatio":1,"visible":true},"religious-muslim":{"width":21,"height":21,"x":462,"y":376,"pixelRatio":1,"visible":true},"religious-shinto":{"width":21,"height":21,"x":483,"y":376,"pixelRatio":1,"visible":true},"restaurant":{"width":21,"height":21,"x":504,"y":376,"pixelRatio":1,"visible":true},"restaurant-bbq":{"width":21,"height":21,"x":525,"y":376,"pixelRatio":1,"visible":true},"restaurant-noodle":{"width":21,"height":21,"x":546,"y":376,"pixelRatio":1,"visible":true},"restaurant-pizza":{"width":21,"height":21,"x":567,"y":376,"pixelRatio":1,"visible":true},"restaurant-seafood":{"width":21,"height":21,"x":588,"y":376,"pixelRatio":1,"visible":true},"rocket":{"width":21,"height":21,"x":609,"y":376,"pixelRatio":1,"visible":true},"school":{"width":21,"height":21,"x":630,"y":376,"pixelRatio":1,"visible":true},"shoe":{"width":21,"height":21,"x":651,"y":376,"pixelRatio":1,"visible":true},"shop":{"width":21,"height":21,"x":672,"y":376,"pixelRatio":1,"visible":true},"skateboard":{"width":21,"height":21,"x":693,"y":376,"pixelRatio":1,"visible":true},"skiing":{"width":21,"height":21,"x":714,"y":376,"pixelRatio":1,"visible":true},"slipway":{"width":21,"height":21,"x":735,"y":376,"pixelRatio":1,"visible":true},"stadium":{"width":21,"height":21,"x":756,"y":376,"pixelRatio":1,"visible":true},"suitcase":{"width":21,"height":21,"x":777,"y":376,"pixelRatio":1,"visible":true},"swimming":{"width":21,"height":21,"x":384,"y":312,"pixelRatio":1,"visible":true},"table-tennis":{"width":21,"height":21,"x":405,"y":312,"pixelRatio":1,"visible":true},"tennis":{"width":21,"height":21,"x":426,"y":312,"pixelRatio":1,"visible":true},"theatre":{"width":21,"height":21,"x":447,"y":312,"pixelRatio":1,"visible":true},"toilet":{"width":21,"height":21,"x":468,"y":312,"pixelRatio":1,"visible":true},"town-hall":{"width":21,"height":21,"x":489,"y":312,"pixelRatio":1,"visible":true},"veterinary":{"width":21,"height":21,"x":510,"y":312,"pixelRatio":1,"visible":true},"viewpoint":{"width":21,"height":21,"x":531,"y":312,"pixelRatio":1,"visible":true},"volcano":{"width":21,"height":21,"x":552,"y":312,"pixelRatio":1,"visible":true},"volleyball":{"width":21,"height":21,"x":573,"y":312,"pixelRatio":1,"visible":true},"watch":{"width":21,"height":21,"x":594,"y":312,"pixelRatio":1,"visible":true},"waterfall":{"width":21,"height":21,"x":615,"y":312,"pixelRatio":1,"visible":true},"watermill":{"width":21,"height":21,"x":636,"y":312,"pixelRatio":1,"visible":true},"windmill":{"width":21,"height":21,"x":657,"y":312,"pixelRatio":1,"visible":true},"zoo":{"width":21,"height":21,"x":678,"y":312,"pixelRatio":1,"visible":true},"ar-national-2":{"width":20,"height":20,"x":699,"y":312,"pixelRatio":1,"placeholder":[0,7,20,13],"visible":true},"ar-national-3":{"width":26,"height":20,"x":719,"y":312,"pixelRatio":1,"placeholder":[0,7,26,13],"visible":true},"ar-national-4":{"width":32,"height":20,"x":745,"y":312,"pixelRatio":1,"placeholder":[0,7,32,13],"visible":true},"au-national-highway-2":{"width":20,"height":20,"x":777,"y":312,"pixelRatio":1,"placeholder":[0,7,20,13],"visible":true},"au-national-highway-3":{"width":26,"height":20,"x":392,"y":289,"pixelRatio":1,"placeholder":[0,7,26,13],"visible":true},"au-national-route-2":{"width":20,"height":20,"x":418,"y":289,"pixelRatio":1,"placeholder":[0,7,20,13],"visible":true},"au-national-route-3":{"width":26,"height":20,"x":438,"y":289,"pixelRatio":1,"placeholder":[0,7,26,13],"visible":true},"au-national-route-4":{"width":32,"height":20,"x":464,"y":289,"pixelRatio":1,"placeholder":[0,7,32,13],"visible":true},"au-national-route-5":{"width":38,"height":20,"x":496,"y":289,"pixelRatio":1,"placeholder":[0,7,38,13],"visible":true},"au-national-route-6":{"width":43,"height":20,"x":534,"y":289,"pixelRatio":1,"placeholder":[0,7,43,13],"visible":true},"au-state-2":{"width":18,"height":20,"x":577,"y":289,"pixelRatio":1,"placeholder":[0,7,18,13],"visible":true},"au-state-3":{"width":23,"height":20,"x":595,"y":289,"pixelRatio":1,"placeholder":[0,7,23,13],"visible":true},"au-state-4":{"width":29,"height":20,"x":618,"y":289,"pixelRatio":1,"placeholder":[0,7,29,13],"visible":true},"au-state-5":{"width":34,"height":20,"x":647,"y":289,"pixelRatio":1,"placeholder":[0,7,34,13],"visible":true},"au-state-6":{"width":39,"height":20,"x":681,"y":289,"pixelRatio":1,"placeholder":[0,7,39,13],"visible":true},"br-state-2":{"width":20,"height":20,"x":720,"y":289,"pixelRatio":1,"placeholder":[0,7,20,13],"visible":true},"br-state-3":{"width":28,"height":20,"x":740,"y":289,"pixelRatio":1,"placeholder":[0,7,28,13],"visible":true},"ca-trans-canada-2":{"width":20,"height":20,"x":768,"y":289,"pixelRatio":1,"placeholder":[0,7,20,13],"visible":true},"ca-trans-canada-3":{"width":32,"height":20,"x":395,"y":264,"pixelRatio":1,"placeholder":[0,7,32,13],"visible":true},"circle-white-2":{"width":20,"height":20,"x":427,"y":264,"pixelRatio":1,"placeholder":[0,7,20,13],"visible":true},"circle-white-3":{"width":26,"height":20,"x":447,"y":264,"pixelRatio":1,"placeholder":[0,7,26,13],"visible":true},"circle-white-4":{"width":32,"height":20,"x":473,"y":264,"pixelRatio":1,"placeholder":[0,7,32,13],"visible":true},"cl-highway-2":{"width":20,"height":20,"x":505,"y":264,"pixelRatio":1,"placeholder":[0,7,20,13],"visible":true},"cl-highway-3":{"width":26,"height":20,"x":525,"y":264,"pixelRatio":1,"placeholder":[0,7,26,13],"visible":true},"co-national-2":{"width":20,"height":20,"x":551,"y":264,"pixelRatio":1,"placeholder":[0,7,20,13],"visible":true},"co-national-3":{"width":24,"height":20,"x":571,"y":264,"pixelRatio":1,"placeholder":[0,7,24,13],"visible":true},"hu-main-2":{"width":20,"height":20,"x":595,"y":264,"pixelRatio":1,"placeholder":[0,7,20,13],"visible":true},"hu-main-3":{"width":26,"height":20,"x":615,"y":264,"pixelRatio":1,"placeholder":[0,7,26,13],"visible":true},"hu-main-4":{"width":32,"height":20,"x":641,"y":264,"pixelRatio":1,"placeholder":[0,7,32,13],"visible":true},"hu-main-5":{"width":38,"height":20,"x":673,"y":264,"pixelRatio":1,"placeholder":[0,7,38,13],"visible":true},"hu-motorway-2":{"width":20,"height":20,"x":711,"y":264,"pixelRatio":1,"placeholder":[0,7,20,13],"visible":true},"hu-motorway-3":{"width":26,"height":20,"x":731,"y":264,"pixelRatio":1,"placeholder":[0,7,26,13],"visible":true},"marker":{"width":12,"height":20,"x":783,"y":334,"pixelRatio":1,"visible":true},"nz-state-2":{"width":18,"height":20,"x":757,"y":264,"pixelRatio":1,"placeholder":[0,7,18,13],"visible":true},"nz-state-3":{"width":23,"height":20,"x":775,"y":264,"pixelRatio":1,"placeholder":[0,7,23,13],"visible":true},"ro-communal-2":{"width":20,"height":20,"x":397,"y":200,"pixelRatio":1,"placeholder":[0,7,20,13],"visible":true},"ro-communal-3":{"width":26,"height":20,"x":417,"y":200,"pixelRatio":1,"placeholder":[0,7,26,13],"visible":true},"ro-communal-4":{"width":32,"height":20,"x":443,"y":200,"pixelRatio":1,"placeholder":[0,7,32,13],"visible":true},"ro-county-3":{"width":26,"height":20,"x":475,"y":200,"pixelRatio":1,"placeholder":[0,7,26,13],"visible":true},"ro-county-4":{"width":32,"height":20,"x":501,"y":200,"pixelRatio":1,"placeholder":[0,7,32,13],"visible":true},"ro-national-2":{"width":20,"height":20,"x":533,"y":200,"pixelRatio":1,"placeholder":[0,7,20,13],"visible":true},"ro-national-3":{"width":26,"height":20,"x":553,"y":200,"pixelRatio":1,"placeholder":[0,7,26,13],"visible":true},"tw-county-township-2":{"width":20,"height":20,"x":579,"y":200,"pixelRatio":1,"placeholder":[0,7,20,13],"visible":true},"tw-county-township-3":{"width":26,"height":20,"x":599,"y":200,"pixelRatio":1,"placeholder":[0,7,26,13],"visible":true},"tw-county-township-4":{"width":32,"height":20,"x":625,"y":200,"pixelRatio":1,"placeholder":[0,7,32,13],"visible":true},"tw-county-township-5":{"width":38,"height":20,"x":657,"y":200,"pixelRatio":1,"placeholder":[0,7,38,13],"visible":true},"tw-county-township-6":{"width":44,"height":20,"x":695,"y":200,"pixelRatio":1,"placeholder":[0,7,44,13],"visible":true},"us-bia-2":{"width":20,"height":20,"x":739,"y":200,"pixelRatio":1,"placeholder":[0,7,20,13],"visible":true},"us-bia-3":{"width":26,"height":20,"x":759,"y":200,"pixelRatio":1,"placeholder":[0,7,26,13],"visible":true},"us-bia-4":{"width":30,"height":20,"x":400,"y":0,"pixelRatio":1,"placeholder":[0,7,30,13],"visible":true},"us-highway-2":{"width":20,"height":20,"x":430,"y":0,"pixelRatio":1,"placeholder":[0,7,20,13],"visible":true},"us-highway-3":{"width":26,"height":20,"x":450,"y":0,"pixelRatio":1,"placeholder":[0,7,26,13],"visible":true},"us-highway-4":{"width":32,"height":20,"x":476,"y":0,"pixelRatio":1,"placeholder":[0,7,32,13],"visible":true},"us-highway-alternate-2":{"width":20,"height":20,"x":508,"y":0,"pixelRatio":1,"placeholder":[0,7,20,13],"visible":true},"us-highway-alternate-3":{"width":26,"height":20,"x":528,"y":0,"pixelRatio":1,"placeholder":[0,7,26,13],"visible":true},"us-highway-duplex-3":{"width":26,"height":20,"x":554,"y":0,"pixelRatio":1,"placeholder":[0,7,26,13],"visible":true},"us-highway-duplex-4":{"width":32,"height":20,"x":580,"y":0,"pixelRatio":1,"placeholder":[0,7,32,13],"visible":true},"us-highway-duplex-5":{"width":38,"height":20,"x":612,"y":0,"pixelRatio":1,"placeholder":[0,7,38,13],"visible":true},"za-national-2":{"width":20,"height":20,"x":650,"y":0,"pixelRatio":1,"placeholder":[0,7,20,13],"visible":true},"za-national-3":{"width":28,"height":20,"x":670,"y":0,"pixelRatio":1,"placeholder":[0,7,28,13],"visible":true},"barcelona-metro":{"width":19,"height":19,"x":698,"y":0,"pixelRatio":1,"visible":true},"boston-t":{"width":19,"height":19,"x":717,"y":0,"pixelRatio":1,"visible":true},"de-s-bahn":{"width":19,"height":19,"x":736,"y":0,"pixelRatio":1,"visible":true},"de-s-bahn.de-u-bahn":{"width":35,"height":19,"x":755,"y":0,"pixelRatio":1,"visible":true},"delhi-metro":{"width":19,"height":19,"x":0,"y":397,"pixelRatio":1,"visible":true},"kiev-metro":{"width":19,"height":19,"x":19,"y":397,"pixelRatio":1,"visible":true},"kr-metro-expy-2":{"width":20,"height":19,"x":38,"y":397,"pixelRatio":1,"placeholder":[0,6.5,20,12.5],"visible":true},"kr-metro-expy-3":{"width":26,"height":19,"x":58,"y":397,"pixelRatio":1,"placeholder":[0,6.5,26,12.5],"visible":true},"kr-metro-expy-4":{"width":32,"height":19,"x":84,"y":397,"pixelRatio":1,"placeholder":[0,6.5,32,12.5],"visible":true},"madrid-metro":{"width":19,"height":19,"x":116,"y":397,"pixelRatio":1,"visible":true},"new-york-subway":{"width":19,"height":19,"x":135,"y":397,"pixelRatio":1,"visible":true},"oslo-metro":{"width":19,"height":19,"x":154,"y":397,"pixelRatio":1,"visible":true},"paris-metro":{"width":19,"height":19,"x":173,"y":397,"pixelRatio":1,"visible":true},"paris-metro.paris-rer":{"width":37,"height":19,"x":192,"y":397,"pixelRatio":1,"visible":true},"paris-rer":{"width":19,"height":19,"x":229,"y":397,"pixelRatio":1,"visible":true},"paris-rer.paris-transilien":{"width":35,"height":19,"x":248,"y":397,"pixelRatio":1,"visible":true},"road-closure":{"width":19,"height":19,"x":283,"y":397,"pixelRatio":1,"visible":true},"stockholm-metro":{"width":19,"height":19,"x":302,"y":397,"pixelRatio":1,"visible":true},"taipei-metro":{"width":19,"height":19,"x":321,"y":397,"pixelRatio":1,"visible":true},"vienna-u-bahn":{"width":19,"height":19,"x":340,"y":397,"pixelRatio":1,"visible":true},"kr-natl-hwy-2":{"width":22,"height":18,"x":359,"y":397,"pixelRatio":1,"placeholder":[0,6,22,12],"visible":true},"chongqing-rail-transit":{"width":25,"height":17,"x":381,"y":397,"pixelRatio":1,"visible":true},"de-u-bahn":{"width":17,"height":17,"x":406,"y":397,"pixelRatio":1,"visible":true},"hong-kong-mtr":{"width":19,"height":17,"x":423,"y":397,"pixelRatio":1,"visible":true},"mexico-city-metro":{"width":17,"height":17,"x":442,"y":397,"pixelRatio":1,"visible":true},"milan-metro":{"width":17,"height":17,"x":459,"y":397,"pixelRatio":1,"visible":true},"moscow-metro":{"width":17,"height":17,"x":476,"y":397,"pixelRatio":1,"visible":true},"osaka-subway":{"width":17,"height":17,"x":493,"y":397,"pixelRatio":1,"visible":true},"paris-transilien":{"width":17,"height":17,"x":510,"y":397,"pixelRatio":1,"visible":true},"philadelphia-septa":{"width":19,"height":17,"x":527,"y":397,"pixelRatio":1,"visible":true},"san-francisco-bart":{"width":17,"height":17,"x":546,"y":397,"pixelRatio":1,"visible":true},"singapore-mrt":{"width":17,"height":17,"x":563,"y":397,"pixelRatio":1,"visible":true},"tokyo-metro":{"width":17,"height":17,"x":580,"y":397,"pixelRatio":1,"visible":true},"traffic-signal":{"width":8,"height":17,"x":597,"y":397,"pixelRatio":1,"visible":true},"washington-metro":{"width":17,"height":17,"x":605,"y":397,"pixelRatio":1,"visible":true},"ch-motorway-2":{"width":22,"height":16,"x":622,"y":397,"pixelRatio":1,"placeholder":[0,5,22,11],"visible":true},"ch-motorway-3":{"width":28,"height":16,"x":644,"y":397,"pixelRatio":1,"placeholder":[0,5,28,11],"visible":true},"de-motorway-2":{"width":22,"height":16,"x":672,"y":397,"pixelRatio":1,"placeholder":[0,5,22,11],"visible":true},"de-motorway-3":{"width":28,"height":16,"x":694,"y":397,"pixelRatio":1,"placeholder":[0,5,28,11],"visible":true},"gb-national-rail.london-dlr":{"width":36,"height":16,"x":722,"y":397,"pixelRatio":1,"visible":true},"gb-national-rail.london-dlr.london-overground.london-tfl-rail.london-underground":{"width":93,"height":16,"x":0,"y":416,"pixelRatio":1,"visible":true},"gb-national-rail.london-dlr.london-overground.london-underground":{"width":74,"height":16,"x":93,"y":416,"pixelRatio":1,"visible":true},"gb-national-rail.london-dlr.london-underground":{"width":55,"height":16,"x":167,"y":416,"pixelRatio":1,"visible":true},"gb-national-rail.london-overground":{"width":36,"height":16,"x":222,"y":416,"pixelRatio":1,"visible":true},"gb-national-rail.london-overground.london-tfl-rail.london-underground":{"width":74,"height":16,"x":258,"y":416,"pixelRatio":1,"visible":true},"gb-national-rail.london-overground.london-underground":{"width":55,"height":16,"x":332,"y":416,"pixelRatio":1,"visible":true},"gb-national-rail.london-tfl-rail":{"width":36,"height":16,"x":387,"y":416,"pixelRatio":1,"visible":true},"gb-national-rail.london-tfl-rail.london-overground":{"width":55,"height":16,"x":423
[...]
