---
http_interactions:
- request:
    method: post
    uri: https://api.mapbox.com/styles/v1/<MAPBOX_USERNAME>/clb1jxblw000014tbwhfjxy31/sprite?access_token=<MAPBOX_ACCESS_TOKEN>
    body:
      encoding: UTF-8
      string: "-------------RubyMultipartPost-acdb710c3efaf83ac2dea678837a7bfc\r\nContent-Disposition:
        form-data; name=\"images\"; filename=\"square\"\r\nContent-Length: 182\r\nContent-Type:
        image/svg+xml\r\nContent-Transfer-Encoding: binary\r\n\r\n<svg class=\"square\"
        width=\"200\" height=\"200\" viewBox=\"0 0 100 100\" xmlns=\"http://www.w3.org/2000/svg\"
        version=\"1.1\">\n  <circle x=\"0\" y=\"0\" width=\"200\" height=\"100\" r=\"200\"
        />\n</svg>\n\r\n-------------RubyMultipartPost-acdb710c3efaf83ac2dea678837a7bfc--\r\n"
    headers:
      Content-Type:
      - multipart/form-data; boundary=-----------RubyMultipartPost-acdb710c3efaf83ac2dea678837a7bfc
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Origin:
      - mbx-styles
      Etag:
      - W/"4f-dIiLFKWb9M/r+6ej3XXBAsMU+VM"
    body:
      encoding: ASCII-8BIT
      string: '{"square":{"width":200,"height":200,"x":0,"y":0,"pixelRatio":1,"visible":true}}'
  recorded_at: Wed, 30 Nov 2022 01:33:04 GMT
- request:
    method: delete
    uri: https://api.mapbox.com/styles/v1/<MAPBOX_USERNAME>/clb1jxblw000014tbwhfjxy31/sprite?access_token=<MAPBOX_ACCESS_TOKEN>
    body:
      encoding: UTF-8
      string: '["square"]'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Origin:
      - mbx-styles
      Etag:
      - W/"2-vyGp6PvFo4RvsFtPoIWeCReyIC8"
    body:
      encoding: ASCII-8BIT
      string: "{}"
  recorded_at: Wed, 30 Nov 2022 01:33:05 GMT
recorded_with: VCR 6.1.0
